body {
    background-color: royalblue;

    
}
.card {
    display: flexbox;
    box-shadow: 5px 5px 5px 5px;
    max-width: 300px;
    min-height: 500px;
    max-height: 700px;

    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
    background-color: wheat;

}

.title {
    display: flex;
    justify-content: center;
    border: black;
    border-width: 2px;

}

img {
    height: 200px;     
    display: flex;
    align-items: center;
    justify-content: center;   
}

header {
    border: 1px;
    border-style: dotted;
    border-color: lightblue;
    text-align: center;
    display: flexbox;
    align-items: flex-start;
    
}

.cards  {
    display: flex;
    flex-wrap: wrap;
}

.words { 
    text-align: justify;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px   

}

.specs {
    font-weight: bold;
    padding-left: 10px;
}

.center{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.avail {
    color: yellow;
    background-color: grey;
    flex-flow: row;
    padding-top: 10px;
}

h3 {
    padding-left: 5px;
}

footer {
    padding-top: 10px;
}