body {
    background: #303F9F;
    flex-wrap: wrap;
    
}
.card {
    display: flexbox;
    box-shadow: 5px 5px 5px 5px #BDBDBD;
    max-width: 300px;
    min-height: 500px;
    
    height: auto;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
    background: #3F51B5;
    flex-flow: column;
    padding-bottom: 5px;

    

}

.title {
    display: flex;
    justify-content: center;
    border: black;
    border-width: 2px;
    color: #FFFFFF;
    font-family: 'Anton', sans-serif;

}

img {
    height: 200px;     
    display: flex;
    align-items: center;
    justify-content: center;   
}

header {
    border: 1px;
    border-style: dotted;
    border-color: lightblue;
    text-align: center;
    display: flexbox;
    align-items: flex-start;
    font-family: 'Anton', sans-serif;
    
}



.cards  {
    display: flex;
    justify-content: space-between;
    
    
}

.words { 
    text-align: justify;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;  
      


}

.card:hover {
    color: coral;
    opacity: 0.4;
 }

.specs {
    font-weight: bold;
    padding-left: 10px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;  
}

.center{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.avail {
    color: yellow;
    background-color: grey;
    flex-flow: row;
    padding-top: 10px;
}

h3 {
    padding-left: 5px;
    font-family: 'Anton', sans-serif;
}

footer {
    padding-top: 10px;
    color: #757575;
    font-family: 'Anton', sans-serif;h

}

.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #7C4DFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }